.card-body {
  display: flex;
  flex-direction: row;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-header .card-subtitle {
  font-size: 22px;
  color: #9b9b9b;
}

.card-title {
  font-size: 20px;
  color: #4a4a4a;
}

.city-info {
  font-size: 32px;
  color: #4a4a4a;
}


.tip-container h4 {
  font-size: 14px;
  color: #9b9b9b;
  font-weight: normal;
}

.tip-container p {
  margin-bottom: 0;
}

.tip-container {
  margin-bottom: 10px;
}